html {
  --color-accent: rgb(198, 156, 225);
  accent-color: var(--color-accent);
  color-scheme: light dark;
}
body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1em;
  }
nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    border-bottom: 1px solid oklch(80% 3% 200);
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color);


  }
  nav a {
    flex: 1;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    color: inherit;
  } 
  nav a.current {
    border-bottom: 0.4em solid var(--border-color);
    padding-bottom: 0.6em
  }
  nav a:hover{
    /* background: oklch(from var(--color-accent) 95% 5% h); */
    border-bottom: .4em solid var(--color-accent);
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);

  }
  textarea {
    font: inherit;
  }
  form {
    display: grid;
    grid-template-columns: 1fr;
  }
  label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    gap: 1em;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));

  }
  article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
  }
  h2 {
    margin: 0;
  }
  h1 {
    font-size: 400%;
  }
  header {
    line-height: 1.1;
    text-wrap: balance;
  }

  .edu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .edu h2 {
    text-align: center;
  }
  
  .edu-articles {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  article {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .work {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .work h2 {
    text-align: center;
  }
  
  .work-articles {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .skills h2 {
    text-align: center;
  }
  
  .skills-articles {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  label.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  select {
    font: inherit;
    font-size: 80%;
  }